.Rproj.user
.Rhistory
.RData
.Ruserdata
NREL-Industrial-Energy_files
*.log
*.out
*.aux
*.bcf
*.xml
*.tex
gitStamp.txt
Interim-report---GFL-industry-and-agriculture_cache/
Interim-report---GFL-industry-and-agriculture_files/
Interim-report-GFL-industry-and-agriculture_cache/
Interim-report-GFL-industry-and-agriculture_files/
NREL-Industrial-Energy_cache/
NREL-Industrial-Energy_files/
_bookdown_files/
Interim-report-GFL-industry-and-agriculture.aux
Interim-report-GFL-industry-and-agriculture.bbl
Interim-report-GFL-industry-and-agriculture.blg
